{{ define "apartments" }}
<div class="container m-3 ">
  <div class="d-flex col-12 justify-content-center">
    <div class="mb-3 col-12">
      <input type="search" name="q"
             hx-trigger="input changed delay:500ms, search"
             hx-get="/apartments"
             placeholder="Search"
             class="form-control"
      >
    </div>
  </div>
  {{ range .Apartments }}
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ .Title }}</h5>
          <p class="card-text">Address: {{ .Address }}</p>
          <p class="card-text"><small class="text-muted">Price: {{ .Price }}$</small></p>
          <p class="card-text"><small class="text-muted">{{ if .Rental }}Available for rent{{ else }} Available for buying {{ end }}</small></p>
          <a hx-get="apartments/{{.Id}}" hx-target="#content" class="btn btn-success">View</a>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
