{{ define "apartment" }}
<div class="container row m-5 bg-light p-3 border rounded">
    <div class="col" >
        <img src="..." class="img-thumbnail rounded" >
    </div>
    <div class="col" >
        <h1>{{ .Title }}</h1>
        <address>{{ .Address }}</address>
        <p>{{ .Description }}</p>
        <p>Price: {{ .Price }}$</p>
        <p>For rent <input type="checkbox" disabled {{ if .Rental }} checked {{ end }}></p>
        <button class="btn btn-success" {{if not .Available }} disabled {{ end }}>Call owner</button>
    </div>
</div>
{{ end }}
