{{ define "login" }}
<div class="m-3">
  <div id="registerForm" class="d-none" >
    <form hx-post="/signup" hx-target="#msg" hx-target-5*="#msg" >
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="inputName" class="form-label">Full Name</label>
        <input type="text" name="name" class="form-control" id="inputName">
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="inputPassword">
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Re-enter Password</label>
        <input type="password" name="password2" class="form-control" id="inputPassword">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <div class="btn btn-link" hx-on:click="toggleForm()">Login</div>
    </form>
  </div>
  <div id="loginForm" >
    <form hx-post="/login" hx-target="#content" hx-target-403="#msg" >
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input type="email" name=email class="form-control" id="inputEmail" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="inputPassword">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <div class="btn btn-link" hx-on:click="toggleForm()" >Register</div>
    </form>
  </div>
</div>
<div id="msg" ></div>
<script>
function toggleForm() {
    let registerForm = document.getElementById("registerForm")
    let loginForm = document.getElementById("loginForm")
    registerForm.classList.toggle("d-none")
    loginForm.classList.toggle("d-none")
 }
</script>
{{ end }}
